{
  "name": "{{ .Name }}",
  "description": "{{ .Description }}",
  "owner_email": "{{ .TechnicalLeadEmail }}",
  "categories": {
    "artifacts": {
      "image": {
        "expression": "(v1 && v2) || (v3 && v4)",
        "variables": [
          {
            "attribute": "aqua.registry",
            "value": "\"OCP Registry\""
          },
          {
            "attribute": "image.repo",
            "value": "{{ .NamespacePrefix }}-*"
          },
          {
            "attribute": "aqua.registry",
            "value": "\"Docker Hub\""
          },
          {
            "attribute": "image.repo",
            "value": "*"
          }
        ]
      },
      "function": {
        "expression": "",
        "variables": []
      },
      "cf": {
        "expression": "",
        "variables": []
      }
    },
    "workloads": {
      "kubernetes": {
        "expression": "",
        "variables": []
      },
      "os": {
        "expression": "",
        "variables": []
      },
      "cf": {
        "expression": "",
        "variables": []
      }
    },
    "infrastructure": {
      "kubernetes": {
        "expression": "",
        "variables": []
      },
      "os": {
        "expression": "",
        "variables": []
      }
    }
  }
}
