{
  "actions": [
    "image_assurance.read",
    "image_profiles.read",
    "dashboard.read",
    "images.read",
    "images.write",
    "containers.read",
    "risks.vulnerabilities.read",
    "risks.vulnerabilities.write",
    "scan.read"
  ],
  "author": "{{ .TechnicalLeadEmail }}",
  "description": "{{ .Description }}",
  "is_super": false,
  "name": "{{ .Name }}",
  "ui_access": true
}
